@import "../../../Style/__variable.scss";

.main-about-items-container
{
    padding: 100px 0;
    @media (max-width: 1024px) {
        img{
            width: 100%;
        }
    }
    .item-details
    {
        padding: 100px 0;
        @media (max-width: 768px) {
            padding: 50px 0;
        }
        h1{
            font-size: 50px;
            font-weight: 600;
            line-height: 1.2em;
            margin-bottom: 0;
        }
        p{
            color: #727272;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
            margin: 17px 0 40px;
        }
        img{
            width: 150px;
        }
    }
}